body {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.button {
  width: 200px;
  background-color: #F012BE;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
 color: wihte;
 transition: transform 1s ease ;
}

.button:hover {
  transform: skewX(30deg);
}
